*.text=auto
*.py text
*.html text
*.css text
*.js text


*.py linguist-detectable=true
*.html linguist-detectable=false
*.css linguist-detectable=true
*.js linguist-detectable=true
*.py linguist-language=Python