*.text=auto
*.py text
*.html text
*.css text
*.js text


*.py linguist-detectable=true
*.html linguist-language=html
*.css linguist-language=css
*.js linguist-language=javascript
*.txt linguist-language=text